h1{
    margin: 0;
    font-size: 100px;
    background-image: url("img/240610-beauty-awards-2024-skincare-winners-vl-social-91be20.webp" );
    height: 100px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




h3{
    margin-top: -20px;


}


p{
 /* float: right; */
 margin-left: 900px;
 font-family:Georgia, 'Times New Roman', Times, serif;
 margin-top: 100px;
}
 .ai{
    margin-top: 30px;
    position: relative;
    left: -20cm;
    top: -7.5cm;
    
}
.btn{
    background-color: rgb(229, 189, 47);
    height: 40px;
    width: 200px;
   position: relative;
   top: -24cm;
   left: -6cm;
    
}
.but{
    background-color: rgb(242, 241, 239);
    height: 40px;
    width: 200px;
    position: relative;
    top: -24cm;
    left: -6cm;
    /* margin-top: -200px; */
    
    
}
.in{
    height: 30px;
    width: 40px;
    margin-left: 200px;
}